# Nginx configuration for frontend docker container

server {
    listen         80 default_server;
    listen         [::]:80 default_server;
    root           /var/www/rabit-backend;

    # Compression
    gzip on;
    gzip_static on;    
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_proxied  any;
    gzip_vary on;
    gzip_comp_level 9;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;  

    location / {
        try_files $uri $uri/ /index.html =404;
    }
}
